* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
  width: 100%;
  height: auto;
  // background: url(tate2.jpg) center center / cover no-repeat;
  background: url(/images/tate2.jpg) center center / cover no-repeat;
  justify-content: center;
  align-items: center;
  
  
  .titles{
    height: 100vh;
    width: 325px;
    background-color: rgb(34, 33, 33);
    opacity: 0.55;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title{
      color: White;
      font-size: 40px;
      font-family: futura;
    }

    .subtitle{
      color: gray;
      font-style: italic;
      font-family: Avenir;
    }
  }

  .life-time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    // background-color: rgb(34, 33, 33);
    // opacity: 0.55;
    font-family: Avenir;
    font-size: 40px;
    font-size: 4vw;
    color: white;
    text-align: center;
    position: relative;


    .life-time__left{
    // font-size: 60px;
    font-size: 7vw;

    font-family: Avenir; 
    }

    .life-time__unit{
      font-size: 4vw;
      // position: absolute;
      // top: 75px;
      margin-top: -10px;
    }

    .life-time__title--btn{
      // position: absolute;
      // bottom: -230px;
      font-size: 20px;
      padding-top: 10vh;

    }

    #details{
      // position: absolute;
      // bottom: -300px;
      border: none; 
      outline: none; /* クリックしたときに表示される枠線を消す */
      background: transparent;
      color: white;
      font-size: 60px;
      animation: bound 3s infinite;
    }

    @keyframes bound {
      0% { transform:translateY(0) }
      5% { transform:translateY(0) }
      10% { transform:translateY(0) }
      20% { transform:translateY(-25px) }
      25% { transform:translateY(0) }
      30% { transform:translateY(-15px) }
      50% { transform:translateY(0) }
      100% { transform:translateY(0) }
    }

  }

  .btns{
    height: 100vh;
    width: 325px;
    background-color: rgb(34, 33, 33);
    opacity: 0.55;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 25px;
    padding-left: 25px;

    #start-btn{
      font-size: 40px;
      padding-top: 20px;
      padding-bottom: 10px;
    }
    #start-btn:hover{
      color: rgb(88, 181, 235);
    }
    
    a{
      font-size: 20px;
      text-decoration: none;
      color: rgb(255, 230, 0);
      font-family: futura;
      opacity: 1;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all  0.3s ease;
    }

    a:hover{
      color: rgb(88, 181, 235);
    }

    .user-nav{
      display: flex;
      flex-direction: column;
    }
  }

  .graph{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}


.wrapper-second {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  height: 100vh;
  width: 100%;

  .second-page{
    display: flex;
    flex-direction: column;

    .second-page__title{
      font-size: 35px;
      color:  rgb(82, 79, 79);
      font-family: futura;
    }

    .second-page__content{
    border-bottom: solid;
    border-color: rgb(82, 79, 79);
    padding-top: 10px;
    padding-bottom: 15px;
    }
  }
    .how-to-use{
      padding-top: 5px;

      text-align: center;
      font-size: 25px;
      // display: flex;

      .wrapp-how-to{
      margin-top: 20px;
      display: flex;
      justify-content: center;
      // margin: 0 auto; 
        
        .wrapp-how-to1{
          font-size: 16px;
          width: 50%;
          // margin:  0 auto; 

          .how-to1{
            align-items: center;

            .how-to__picture1{
              margin-top: 20px;
              width: 85%;
              max-width: 100%;
              height:auto;
              // max-height: 50%;
            }
          }
        }
        .wrapp-how-to2{
          font-size: 16px;
          width: 50%;

          .how-to2{
            margin:  0 auto;  
            align-items: center;

            .how-to__picture2{
              width: 70%;
              max-width: 100%;
              height:auto;
              // height: 40vh;
              // max-height: 100%;
              // width:auto;
            }
          }
        }
      }
    }
  


  // .box-3 { 
  //   background-color: rgb(204, 204, 204); 
  //   width: 100%;

  .link{
    width: 50%;
    text-align:  center; 

    .btn {
     
      margin:  0 auto; 
      display: block;
      font-size: 24px;
      font-family: sans-serif;
      text-decoration: none;
      color: #333;
      border-top: 2px solid #333;
      border-bottom: 2px solid #333;
      padding: 10px;
      letter-spacing: 2px;
      transition: all .25s;
    }

    .btn:hover{
      letter-spacing: 15px;
    }

}
}

// }
