.history{
  font-size: 40px;
  width: 100%;
  font-family: futura;
  border-bottom: solid;
  border-color: rgb(82, 79, 79);
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left:20px;
  background-color:  #f4f5f3fb;
  position: relative; 

  .iconCWT{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding-top: 9px;    
  }
}

.all-wrapp{
  padding-left:50px;
  padding-right:50px;
  height: 100vh;
  width: 100%;

  .result-wrapp{
    padding-top: 15px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    
    .totalCost__uni-number{
      display: flex;

      .totalCost__unit{
        font-size: 50px;
        padding-right: 15px;
      }

      .totalCost__number{
        font-size: 50px;
      }
    }
  }

  .table-wrapp{
    display: flex;
    flex-direction: column;

    #title{
      font-size: 20px;
    }
    table{
      font-size: 1vw;
      color: rgb(54, 54, 54);

      th, td, tr{
        border-bottom:solid 1px silver;
        padding-left: 8px;
      }
    }
  }

  .graph-history{
    #graph-cost{
    }
  }
}