* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
  width: 100%;
  height: auto;
  background: url(tate2.jpg) center center / cover no-repeat;
  justify-content: center;
  align-items: center;
  
  
  .titles{
    height: 100vh;
    width: 325px;
    background-color: rgb(34, 33, 33);
    opacity: 0.55;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // padding-right: 25px;
    // padding-left: 25px;

    .title{
      color: White;
      font-size: 40px;
      font-family: futura;
    }

    .subtitle{
      color: gray;
      font-style: italic;
      font-family: Avenir;
      // padding-top: 15px;
    }
  }

  .life-time{
    height: 50px;
    width: 100%;
    // background-color: rgb(34, 33, 33);
    // opacity: 0.55;
    font-family: futura;
    font-size: 25px;
    color: white;
    text-align: center;

  }




  .btns{
    height: 100vh;
    width: 325px;
    background-color: rgb(34, 33, 33);
    opacity: 0.55;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 25px;
    padding-left: 25px;

    .start-btn{
      font-size: 25px;
      padding-top: 20px;
      padding-bottom: 10px;
    }
    
    a{
      text-decoration: none;
      color: rgb(255, 230, 0);
      font-family: futura;
    
    }

    .grid-6{
      display: flex;
      flex-direction: column;
    }
  }
}