.subtitle{
  &[lang="jp"]{
    display: none;
  }
}

.btns__language{
  &[lang="jp"]{
    display: none;
  }
}

.life-time__title--btn{
  &[lang="jp"]{
    display: none;
  }
}

.second-page__title{
  &[lang="jp"]{
    display: none;
  }
}

.second-page__content{
  &[lang="jp"]{
    display: none;
  }
}

.how-to-use{
  &[lang="jp"]{
    display: none;
  }
}


